main    
/*Reset*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

header {
    padding: 16px 0;
    background-color:#25b9f3;
    color:#ecf0f1;
    text-align: center; /* Centraliza o conteúdo dentro do cabeçalho */
}

.text-center {
    text-align: center;
}


header,
section h2,
section h3 {
    font-family: 'Bebas Neue',sans-serif;
    font-weight: normal;
    text-align: center;
}

/*Estilizando o menu*/
header nav li{
    display: inline;
    margin-left: 16px;
    color:#ecf2f3;
    font-size: 18px;
    text-align: center; 
}

header nav li a { 
    color:#ecf2f3;
    text-decoration: none;
}

/*Container no header serve centralizar o conteúdo e fazer a distribuição do logo.*/
.container {
    /*Ajuste máximo*/
    max-width: 1280px;
    /*100% largura*/
    width: 100%; 
    /*marge 0 em cima e embaixo nas laterais auto.*/
    margin: 0 auto;
}

header .container, 
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    text-align: center; /* Para centralizar as imagens horizontalmente, opcional */
}

.image-container img {
    display: inline-block;
    margin: 0 10px; /* Margem entre as imagens, ajuste conforme necessário */
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section {
    color:  #010b0f;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;  
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

#atendimento .container{
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 28px;
}

form textarea {
    resize:none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

/*Customização do botão */
form button {
    background-color: #147447;
    color: #fff;
    border: none;
    cursor: pointer;

}

form button:hover {
    background-color: #405692;
}

input:focus, textarea:focus {
    outline-color: #182c61  ;
}

footer {
    background-color: #25b9f3;
    color: #ecf0f1;
    padding: 16px 0;
}
