* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #e7e7e7;
    padding-top: 100px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px; 
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    margin: 0;
    justify-content: space-between;
    margin-bottom: 56px;
    gap: 16px;
}


form input {
    font-size:19px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #000;
    padding: 4px;
    width: 100%; 
}

form button {
    background-color: #1e0094;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.botao-azul:hover {
    background-color: #010b15; 
    }

table {
    width: 100%;
    }
table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td img {
    height: 30px;
    }

.resultado {
    padding: 6px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    border-radius: 3px;
    }
