main 
/*Reset*/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body > header {
    background-color:rgb(95, 54, 161);
    padding: 40px 0;
}

.container {
    display: flex;
    align-items: center;
}

header li {
    display: inline;
}

.container {
    /* Centralizar conteúdo*/
    width: 1366px;
    margin: 10 auto;
}

.articles {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.articles article img{
height: 188px;
}
.articles article{
    width: 100%;
}

section {
padding: 16px 0;
}

section h2, .articles article {
    margin-bottom: 16px; 
}

.articles article h3  {
    margin-top: 16px;
    margin-bottom: 16px;
}

.articles articles a {
        background-color:rgb(17, 172, 30);
        color:aliceblue;
        padding: 8px;
        display: inline-block;
        text-decoration: none;
    
}

/* Efeitos dos botões*/
.articles article a:hover{
    text-decoration: underline;
}

.articles article p
.articles article a {
    font-family: Arial, Helvetica, sans-serif;

}

.articles article h3 {
font-size: 24px

}

section h2{
    font-size: 32px ;
}

body {
    background-color: #1214b1; 
    color: #df0a0a; 
}

h2 {
    color: #d31212; 
}

.Esporte{
    background-color: #ffff00;

}

.Tec{
    background:goldenrod;
}

.Superbowl{
    background-color: #ffff00;
}

.NBA {
    background-color: #ffff00;
}

.Euro {
    background:#ffff00;
}

.Politica {
    background-color: #ffff00;
}

.Economia{
    background:orange;
}
.Noticia {
    background-color: #ffff00;
}

.Lidas {
    background-color: #ffff00;
}

/* styles.css */
body {
    background-color: #607fd6;
    color: #333; 
    margin-left: 20px;
    padding: 10px;
}
h1 {
    color: #230e97; 
}

.destaque {
    background-color: #ffff00; 
}


